ACCESS_TOKEN=
PHONE_NUMBER_ID=
VERIFY_TOKEN=
PORT=3000
DATABASE_URL=
DATABASE_SSL_MODE=require
META_APP_SECRET=
COMPANY_NAME=InterProteccion
COUNTRY_CODE=52
TIMEZONE=America/Mexico_City
SUPABASE_URL=
SUPABASE_STORAGE_SERVICE_KEY=
CUSTOMER_CSV_BUCKET=
CUSTOMER_CSV_PATH=asegurados.csv
POLICY_COVERAGE_CSV_PATH=base_polizas_cobertura.xlsx
